*.sqlite
.DS_Store
.dap-breakpoints
.extension
.last-package-update-day
.lsp-session*
.mc-lists.el
/company-statistics-cache.el
/elpa25
ac-comphist.dat
amx-items
auto-save*
bookmarks
code-review-error.log
custom.el
dired-history
eln-cache
elpa
emms
emojis/
eshell
flycheck_init.el
games
helm-adaptive-history
history
places
projectile*
projects
readme.el
recentf
services.el
smex-items
tramp
transient
type-break
url
var
vendor
